<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates a very simple business object." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Property Name="NameSpace" Type="System.String" Default="" Category="Text" Description="Namespace for this class" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
using System;
using System.Collections;
using System.Data;
using <%= NameSpace %>.Model;

namespace <%= NameSpace %>.IDAL
{
    /// <summary>
    /// Interface of Data Access Layer For <%= SourceTable %>.
    /// </summary>
    public interface I<%= GetClassName(SourceTable) %>
    {
		#region Interfaces
		/// <summary>
		/// Insert a new <%= GetLowerCaseName(SourceTable.Name)%> record to database.
		/// </summary>
		int Insert(<%= GetClassName(SourceTable) %>Info <%=GetModuleInstanceName(SourceTable)%>);

        /// <summary>
		/// Gets a <%= GetLowerCaseName(SourceTable.Name)%> record from the database.
		/// </summary>
		/// <param name="<%= GetLowerCaseName(SourceTable.Name)%>"></param>
		/// <returns></returns>
		<%= GetClassName(SourceTable) %>Info Get(<%=GetPrimaryKeyCSharpType() %> <%= GetCamelCaseName(SourceTable.PrimaryKey.MemberColumns[0].Name) %>);
		
		/// <summary>
		/// Gets all <%= GetLowerCaseName(SourceTable.Name)%> records from the database.
		/// </summary>
		/// <param name="<%= GetLowerCaseName(SourceTable.Name)%>"></param>
		/// <returns></returns>
		DataSet GetAll();
			
		/// <summary>
		/// Update a <%= GetLowerCaseName(SourceTable.Name)%> record from the database.
		/// </summary>
		/// <param name="<%= GetLowerCaseName(SourceTable.Name)%>"></param>
		/// <returns></returns>
		void Update(<%= GetClassName(SourceTable) %>Info <%=GetModuleInstanceName(SourceTable)%>);
		
		
		/// <summary>
		/// Delete a <%= GetLowerCaseName(SourceTable.Name)%> record from the database.
		/// </summary>
	    /// <param name="<%= GetCamelCaseName(SourceTable.PrimaryKey.MemberColumns[0].Name) %>">The primary key value</param>
		int Delete(<%= GetPrimaryKeyCSharpType() %> <%= GetCamelCaseName(SourceTable.PrimaryKey.MemberColumns[0].Name) %>);

        #endregion
		
		#region StaticMethods
		
		#endregion
    }
}

<script runat="template">

    public string GetCamelCaseName(string value)
    {
        return value.Substring(0, 1).ToLower() + value.Substring(1);
    }

    public string ConvertFirstCharToUpper(string value)
    {
        return value.Substring(0, 1).ToUpper() + value.Substring(1);
    }

    public string GetClassName(TableSchema table)
    {
        /*
        if (table.Name.EndsWith("s"))
        {
            return table.Name.Substring(0, table.Name.Length - 1);
        }
        else
        {
            return table.Name;
        }
		*/
		if(table==null)
		{
		    return null;
		}
		return table.Name;
    }

	public string GetLowerCaseName(string value)
    {
	    return value.ToLower();
    }
	
	public string GetModuleInstanceName(TableSchema table)
	{
		return "o"+table.Name+"Info";
	}

    public string GetCSharpVariableType(ColumnSchema column)
    {
		if (column.Name.EndsWith("TypeCode")) return column.Name;
		
		switch (column.DataType)
		{
			case DbType.AnsiString: return "string";
			case DbType.AnsiStringFixedLength: return "string";
			case DbType.Binary: return "byte[]";
			case DbType.Boolean: return "bool";
			case DbType.Byte: return "byte";
			case DbType.Currency: return "decimal";
			case DbType.Date: return "DateTime";
			case DbType.DateTime: return "DateTime";
			case DbType.Decimal: return "decimal";
			case DbType.Double: return "double";
			case DbType.Guid: return "Guid";
			case DbType.Int16: return "short";
			case DbType.Int32: return "int";
			case DbType.Int64: return "long";
			case DbType.Object: return "object";
			case DbType.SByte: return "sbyte";
			case DbType.Single: return "float";
			case DbType.String: return "string";
			case DbType.StringFixedLength: return "string";
			case DbType.Time: return "TimeSpan";
			case DbType.UInt16: return "ushort";
			case DbType.UInt32: return "uint";
			case DbType.UInt64: return "ulong";
			case DbType.VarNumeric: return "decimal";
			default:
			{
				return "__UNKNOWN__" + column.NativeType;
			}
		}
	}
	
	public string GetPrimaryKeyCSharpType()
	{
		return GetCSharpVariableType(SourceTable.PrimaryKey.MemberColumns[0]);
	}
</script>